$primaryColor: #E8000D;
$blackColor: rgb(15, 15, 15);
$whiteColor: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: $blackColor;
}
.box {
    width: 100px;
    height: 100px;
    margin: .5em;
    background-color:#fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}

section {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50vw;
    min-height: 50vh;
    background-color: $primaryColor;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    h2 {
        height: 70px;
        padding: 1em;
        color: $whiteColor;
        font-size: 1rem;
        font-weight: 400;
        margin: .25em;
        span {
            font-weight: 700;
            font-size: 1.25rem;
        }
    }
}
.btn {
    cursor: pointer;
    outline: none;
    border: none;
    color: $whiteColor;
    background-color: $primaryColor;
    padding: 1em;
    font-size: .85rem;
    font-weight: 700;
}




